# TCGPlayer/Ebay Scraper Example File

This jupyter notebook demonstrates example cases for each of the functions included within TCGPlayer_Ebay_Scraper_Functions.py.

### Importing Necessary File

The block below imports the scraper functions from the TCGPlayer_Ebay_Scraper_Functions file.

In [2]:
from TCGPlayer_Ebay_Scraper_Functions import ScraperFunctions as sf

### Preparing Variables

For several of the functions with the ScraperFunctions class, the variables for url, set_, and pull_rates need to be defined. These variables are utilized for singles_sealed_dataframe and recovery_rate_func. 

These variables are defined with the following characteristics:

    * url : string, url for TCGPlayer price guide
    * set_ : string, the name of the expansion set (as expressed on the TCGPlayer price guide)
    * pull_rates : dictionary, detailed pull rates for each of the rarities found within the desired set.

Possible values for these variables can be found with the Necessary Dictionaries.txt file.

In [8]:
url = 'https://www.tcgplayer.com/categories/trading-and-collectible-card-games/pokemon/price-guides/sv01-scarlet-and-violet-base-set'
set_ = 'Scarlet & Violet'
pull_rates = {'Double Rare': 0.1376, 'Ultra Rare': 0.0657, 'Illustration Rare': 0.0767, 'Special Illustration Rare': 0.0315,'Hyper Rare': 0.0185}

### singles_sealed_dataframe

This functions scrapes TCGPlayer price guides to collect information on the card and sealed product characteristics and values. 

For inputs, this function takes:

    * url: string, url for TCGPlayer price guide
    * wait_time: integer, amount of time the program pauses to let the website load
    * set: string, name of the expansion set

This function outputs two pandas dataframes:

    * singles_data: pandas dataframe, includes the data for single cards
    * sealed_data: pandas dataframe, includes the data for sealed products

The singles dataframe is cleaned to remove the common, uncommon, and rare cards. This allows the resulting dataframes to be used with recovery_rate_func.

In [4]:
singles_data, sealed_data = sf.singles_sealed_dataframe(url, 20, set_)

In [5]:
singles_data.head()

,Product Name,Printing,Rarity,Number,Market Price
3,Arcanine ex - 032/198,Holofoil,Double Rare,032/198,0.82
4,Arcanine ex - 224/198,Holofoil,Ultra Rare,224/198,5.14
6,Armarouge - 203/198,Holofoil,Illustration Rare,203/198,10.87
8,Arven - 235/198,Holofoil,Ultra Rare,235/198,9.96
9,Arven - 249/198,Holofoil,Special Illustration Rare,249/198,11.22

In [6]:
sealed_data.head()

                Product Name  Market Price
0  3 Pack Blister [Arcanine]         16.22
1   3 Pack Blister [Dondozo]         14.72
2  3 Pack Blister [Set of 2]         27.75
3                Booster Box        142.55
4           Booster Box Case        744.24

### recovery_rate_func

This function estimates the rate in which profits can be made from opening booster packs of Pokemon cards. Through using the estimated pull rates, published by TCGPlayer, the average value of each rarity is combined with the pull rates to calculate the expected value of one booster pack.

As an input, the function requires:

    * carddata: pandas dataframe, dataframe that includes information about single cards (obtained from singles_sealed_dataframe)
    * productdata: pandas dataframe, dataframe that includes information about sealed products (obtained from singles_sealed_dataframe)
    * pull_rates: dictionary, contains estimated pull rates for each rarity
    * set: str, the name of the desired set

This function prints a statement with the expected recovery rate for the set.

In [9]:
sf.recovery_rate_func(singles_data, sealed_data, pull_rates, set_)

Scarlet & Violet Recovery Rate: [47.23316216]%

## Additional Variables

These variables are utilized within the market_dataframe function. 

The variables represent:

    * urls: dictionary, keys are the set names, and values are the url for the respective TCGPlayer price guide
    * sets: list, names of the desired sets

In [10]:
urls = {'Scarlet & Violet' : 'https://www.tcgplayer.com/categories/trading-and-collectible-card-games/pokemon/price-guides/sv01-scarlet-and-violet-base-set'}
sets = ['Scarlet & Violet']

### market_dataframe

This function pulls data from multiple urls and combines it into one pandas dataframe.

For inputs, this functions uses:

    * urls: dictionary, keys are the set names, and values are the url for the respective TCGPlayer price guide
    * wait_time: integer, the amount of time that the program pauses to allow the website to load
    * sets: list, the names of the sets included within the dictionary

This function outputs a pandas dataframe the contains multiple sets of cards

In [11]:
market_data = sf.market_dataframe(urls, 20, sets)

In [12]:
market_data.head()

,Set,Product Name,Printing,Rarity,Number,Market Price
0,Scarlet & Violet,Alomomola,Reverse Holofoil,Common,048/198,0.09
1,Scarlet & Violet,Annihilape,Reverse Holofoil,Rare,109/198,0.21
2,Scarlet & Violet,Arboliva,Reverse Holofoil,Rare,023/198,0.16
3,Scarlet & Violet,Arcanine ex,Holofoil,Double Rare,032/198,0.82
4,Scarlet & Violet,Arcanine ex,Holofoil,Ultra Rare,224/198,5.14

### ebay_scraper

This function collects sold listing data from ebay.

The inputs for this function are:

    * card_name: string, name of desired card
    * sold: bool, if looking for sold listing data, use sold=True
    * graded: bool, if looking for graded listing data, use graded=True

This function results in one output, a pandas dataframe.

In utilizing this function, it is not limited to Pokemon cards. Using a specific listing title will yeild similar results.

In [3]:
ebay_data = sf.ebay_scraper('Twilight Masquerade Eevee 188/167', sold=True, graded=False)

In [4]:
ebay_data.head()

                                                Name   Price      Sold Date
0  Eevee Scarlet & Violet-Twilight Masquerade 188...   91.27   Jan 20, 2025
1  Eevee 188/167 Sv06: Twilight Masquerade Holo P...   80.00   Jan 20, 2025
2  EEVEE POKEMON HOLO ART CARD RARE 188/167 Sv06:...  100.00   Jan 20, 2025
3       Eevee 188/167 Sv06: Twilight Masquerade Holo   90.00   Jan 20, 2025
4       Eevee 188/167 Twilight Masquerade Pokemon NM   99.95   Jan 19, 2025